{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "overrides": [
        {
            "files": "node_modules/**/*",
            "options": {
                "singleQuote": false,
                "trailingComma": "none",
                "printWidth": 80
            }
        },
        {
            "files": "node_modules/webpack/**/*",
            "options": {
                "useTabs": true
            }
        }
    ]
}
